#puzzle{
  height:75vh;
  width:100%;
}

#dots circle{
  fill: red;
}

#lines line{
  stroke:rgba(0,255,0,0.5);
  fill:none;
  stroke-width:1px;
}

#tabs path{
  stroke:black;
  stroke-width:1px;
  fill:none;
}
